# Selected dependencies (including dev ones) to run the test suite with Pyodide.
# Dependencies should be installed from the derived `pylock.toml` file.
# To generate the lockfile, run `python -m pip lock -r requirements.in -o pylock.31x.toml`,
# in a Pyodide venv matching the target Python version. Such a venv can be created using
# `pyodide venv .venv-pyodide` (and this must be done from a Python venv matching the target
# Python version).
pytest~=9.0
