repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: check-added-large-files
          - id: check-toml
          - id: check-yaml
            args:
                - --unsafe
          - id: end-of-file-fixer
          - id: trailing-whitespace
    - repo: https://github.com/asottile/pyupgrade
      rev: v3.3.1
      hooks:
          - id: pyupgrade
            args:
                - --py3-plus
                - --keep-runtime-typing
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: v0.0.235
      hooks:
          - id: ruff
            args:
                - --fix
    - repo: https://github.com/pycqa/isort
      rev: 5.12.0
      hooks:
          - id: isort
            name: isort (python)
          - id: isort
            name: isort (pyi)
            types: [pyi]
    - repo: https://github.com/psf/black
      rev: 22.12.0
      hooks:
          - id: black
    -   repo: local
        hooks:
        -   id: rust-linting
            name: Rust linting
            entry: cargo fmt --all -- --config group_imports=StdExternalCrate,imports_granularity=Module
            pass_filenames: true
            types: [rust]
            language: system
        -   id: rust-clippy
            name: Rust clippy
            entry: cargo clippy -- -D warnings -A incomplete_features -W clippy::dbg_macro -W clippy::print_stdout
            pass_filenames: false
            types: [rust]
            language: system
