[package]
name = "python-calamine"
version = "0.6.1"
edition = "2021"

[lib]
name = "python_calamine"
crate-type = ["cdylib"]

[dependencies]
calamine = { version = "0.33.0", features = ["chrono"] }
pyo3 = { version = "0.27.1", features = [
    "extension-module",
    "chrono",
    "generate-import-lib",
] }
chrono = { version = "0.4.42", features = ["serde"] }
pyo3-file = { git = "https://github.com/omerbenamram/pyo3-file.git", rev = "8d3ec12613c72c3b223c2f17bca90de4445c1063" }

[build-dependencies]
pyo3-build-config = "0.27.1"
