[package]
name = "python-calamine"
version = "0.6.1"
edition = "2021"

[lib]
name = "python_calamine"
crate-type = ["cdylib"]

[dependencies]
calamine = { version = "0.33.0", features = ["chrono"] }
pyo3 = { version = "0.28.0", features = [
    "extension-module",
    "chrono",
    "generate-import-lib",
] }
chrono = { version = "0.4.42", features = ["serde"] }
pyo3-file = { git = "https://github.com/omerbenamram/pyo3-file.git", rev = "92e0f505825ea0d33184af35b6c677bda04929bd" }

[build-dependencies]
pyo3-build-config = "0.27.1"
