[package]
name = "python-calamine"
version = "0.1.1"
authors = ["Dmitriy <dimastbk@yandex.ru>"]
description = "Python binding for Rust's library for reading excel and odf file - calamine"
edition = "2021"
homepage = "https://github.com/dimastbk/python-calamine"
license = "MIT"
readme = "README.md"
repository = "https://github.com/dimastbk/python-calamine"

[lib]
name = "python_calamine"
crate-type = ["cdylib"]

[dependencies]
calamine = {git = "https://github.com/tafia/calamine.git", rev = "a5b85d30", features = ["dates", "chrono"]}
pyo3 = {version = "0.18.3", features = ["extension-module", "chrono"]}
chrono = {version = "0.4.24", features = ["serde"]}
pyo3-file = {git = "https://github.com/omerbenamram/pyo3-file.git", rev = "2bc4c1a0"}

[build-dependencies]
pyo3-build-config = "0.18.3"
